<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/feather/first.jpg` | relURL }}" class='feather text-violet feather-big' style="width: 150px; height: 150px;" alt="Personalized Learning">
        <h2 class="h2">Personalized Learning <small class="d-none">🛡️</small></h2>
        <p> Create a personalized learning plan based on my learning style, pace, and strengths and weaknesses, so you
             can focus on the areas that need the most improvement.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feather/second.png` | relURL }}" class='feather text-violet feather-big' style="width: 150px; height: 150px;" alt="Personalized Learning">
        <h2 class="h2">Meet Students <small class="d-none">🚀</small></h2>
        <p>Connect with other students who have similar interests or are working on the same topics, so you can form study 
            groups and collaborate with others.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feather/third.jpg` | relURL }}" class='feather text-violet feather-big' style="width: 150px; height: 150px;" alt="Personalized Learning">
        <h2 class="h2">Progress Analytics <small class="d-none">📈</small></h2>
        <p>Get real-time data analysis of student performance, so students, teachers, and parents can
             track their progress and identify areas where additional support is needed.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Virtual Tutor <small class="d-none">🦉</small></h2>
        <p>Connect with a virtual tutor who can answer questions and explain concepts in an interactive way, 
            so you can get personalized help when you need it.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Career Paths <small class="d-none">✨</small></h2>
        <p> Connect your learning to future career paths and skill development, so you can see how your interests and learning are relevant to future goals.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Gamified Learning <small class="d-none">🧰</small></h2>
        <p> Gamified learning elements with rewards and competition like points, badges, and leaderboards, so you can stay motivated and engaged in learning.</p>
    </div>
</div>
